* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav .navbar-toggler {
	border: 4px solid #3a8bcd;
}

nav .navbar-toggler:focus,
.navbar-toggler:active {
    outline: none; 
    box-shadow: none; 
}

nav .navbar-toggler
.navbar-toggler-icon {
	filter: invert(1) hue-rotate(180deg);
}

#navbar button {
	margin-right: 55px;
}

#navbar h2 {
	font-weight: 600;
	margin-left: 55px;
	font-size: 30px;
	color: #3a8bcd;
	letter-spacing: 3px;
}

#navbar a {
	margin-left: 55px;
	color: #3a8bcd;
	font-size: 20px;
}

#navbar form {
	margin-left: 3rem;
}

#contato {
    margin-bottom: 20px;
}

#imgbt {
    border-radius: 20%;
}

.sighhere {
    margin-top: 20px;
}

/*style banner*/
.banner {
	margin-top: 50px;
	background-image: url("../image/dctrw.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	padding: 150px 0px;
	background-position: center center;
}
.banner .caption {
	background-color: rgba(250,250,250,0.9);
	padding: 30px;
	max-width: 450px;
}
.banner .caption h2 {
	margin-top: 0px;
	margin-bottom: 15px;
	font-size: 24px;
	font-weight: 700;
	color: #1e1e1e;
}
.banner .caption .line-dec {
	width: 30px;
	height: 5px;
	background-color: #3a8bcd;
}
.banner .caption p {
	margin-top: 15px;
	margin-bottom: 20px;
}

/* Subscribe Style */
.subscribe-form {
	background-color: #3a8bcd;
	padding: 80px 0px;
	text-align: center;
}
.subscribe-form .section-heading  {
	margin-top: 0px;
}
.subscribe-form .section-heading h1 {
	color: #fff;
}
.subscribe-form .section-heading .line-dec {
	background-color: #fff;
	margin: 0 auto;
}
.subscribe-form .main-content p {
	font-size: 17px;
	color: #fff;
	margin-bottom: 30px;
}
.subscribe-form .main-content form  {
	color: #fff;
	display: inline;
}
.subscribe-form .main-content form input {
	display: inline;
}
.subscribe-form .main-content form input {
	width: 100%;
	height: 46px;
	border: 1px solid #fff;
	background-color: transparent;
	padding-left: 15px;
	color: #fff;
	outline: none;
}
.subscribe-form .main-content form button:focus {
	color: #fff!important;
}
.subscribe-form .main-content form button {
	width: 100%;
	height: 45px;
	cursor: pointer;
	background-color: #fff;
	outline: none;
	border-radius: 5px;
	padding: 10px 15px;
	display: inline-block;
	color: #3a8bcd;
	font-size: 14px;
	text-transform: uppercase;
	font-weight: 600;
	letter-spacing: 0.4px;
	text-decoration: none;
	transition: all 0.5s;
	box-shadow: none;
	border: none;
}

/* Sub Footer Style */
.sub-footer {
	border-top: 1px solid #eee;
	text-align: center;
}
.sub-footer p {
	font-size: 12px;
	color: #7a7a7a;
	line-height: 60px;
}
.sub-footer a {
	color: #3a8bcd;
	text-decoration: none;
}

/* Contact Styles */
#contact {
	padding: 100px;
	background-color: #3a8bcd50;
	transition: 1s ease;
}

#contact h5 {
	color: #3a8bcd;
	font-weight: 600;
}


/* Responsive Style */
@media (max-width: 991px) {

	.banner {
		border-top: none;
		margin-top: 50px;
	}
	.navbar .navbar-brand {
		width: auto;
	}
	.navbar:after {
		display: none;
	}
	#navbarResponsive {
	    z-index: 99999;
	    position: absolute;
	    top: 96px;
	    width: 100%;
	    text-align: center;
	    background-color: rgba(250,250,250,0.95);
	    box-shadow: 0px 10px 10px rgba(0,0,0,0.1);
	}
	.navbar-dark .navbar-nav .nav-item {
		border-bottom: 1px solid #eee;
	}
	.navbar-dark .navbar-nav .nav-item:last-child {
		border-bottom: none;
	}
	.navbar-dark .navbar-nav .nav-link {
		padding: 15px 0px;
	}

	#navbar form {
		margin-left: 3rem;
		width: 50%;
	}

}




@media (max-width: 767px) {

	.subscribe-form .main-content form button {
		margin-top: 20px;
	}
	

}